*{
    margin: 0;
    padding: 0;
}
.navbar {
  background-color: #1E2A38;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #F7931A;
}

.btn-login {
  background-color: #F7931A;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  color: white !important;
}
